<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hspmkn2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE5F5474289E8B1600F6C3D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5F548A289E8B1700F6C3D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5F5494289E8B1700F6C3D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
